@charset "utf-8";

.main_section::before {
    background-image: url(../../images/intro_bg.png);
}

.detail_search_section{
    padding-top: 4.8rem;
    width: 100%;
    .section_bottom{
        width: 100%;
        .detail_search_info{
            margin-bottom: 4.8rem;
            .content_section{
                .detail_search_table{
                    table{
                        width: 100%;
                        table-layout: fixed;
                        tbody{
                            tr{
                                th{
                                    width: 240px;
                                    .btn{
                                        justify-self: center;
                                    }
                                }
                            }
                        }
                    }
                    .keyword_search{
                        height: 46px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                        
                        select:nth-of-type(1){
                            width: 120px;
                        }
                        select:nth-of-type(2){
                            width: 150px;
                        }
                        input{width: calc(100% - 150px - 120px - 2rem);}
                    }
                    .keyword_search:not(:first-of-type){
                        margin-top: 1rem;
                    }

                    .publication_search{
                        height: 46px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                            input{
                                width: 500px;
                            }
                            button{
                                height: 100%;
                                font-size: var(--font-size15);
                                img{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 0.5rem;
                                }
                            }
                    }

                    .year_search{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                        input{
                            width: 140px;
                        }
                        span{
                            font-size: var(--font-size15);
                        }
                    }

                    .type_checkbox{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            column-gap:20px;
                            row-gap: 16px;
                            li{
                                display: inline-block;
                                min-width: calc(100% / 6 - 20px);
                                box-sizing: border-box;
                                input[type="checkbox"]{
                                    width: 18px;
                                    height: 18px;
                                }
                                label{
                                    font-size: var(--font-size15);
                                    padding-left:8px;
                                }
                            }
                        }
                    }

                    .type_radio{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        input[type="radio"]{
                            width: 18px;
                            height: 18px;
                        }
                        label{
                            font-size: var(--font-size15);
                            padding:0 20px 0 8px;
                        }
                        span{
                            color: #D92D20;
                        }
                    }
                }
            }
        }
    }
}